<div class="col">
  <div class="row gap-1">
    <div class="swatch">
      <input 
        type="text" 
        id="id-c1"
        value="#c3fa22"
        onFocus="this.select()" 
        pattern="#[A-fa-f0-9]{0,7}" 
        minlength="4" 
        maxlength="7">
    </div>
    <div class="swatch">
      <input 
        type="text" 
        id="id-c2"
        value="#34c5f2"
        onFocus="this.select()" 
        pattern="#[A-fa-f0-9]{0,7}" 
        minlength="4" 
        maxlength="7">
    </div>
  </div>
</div>